# R
.RData
.Rhistory
.Rproj.user/
*.Rproj

# Python
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# Data, results, and outputs
data/
experiments/
results/
slurm_logs/
slurm_scripts/slurm_logs/
extras/

# Temporary data files
*.h5
*.h5ad
*.qs
*.csv